<div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQaE7TaV9A1QA5QFUwfXvwcIJ6aY609p-ZY_Q" class="d-block w-100 rounded" alt="...">
            </div>
            <div class="carousel-item">
                <img src="https://d1csarkz8obe9u.cloudfront.net/posterpreviews/dramatic-movie-poster-template-design-f0f2c261e077379d0f82604f96b6a774_screen.jpg?ts=1602570456" class="d-block w-100 rounded" alt="...">
            </div>
            <div class="carousel-item">
                <img src="https://www.metrowestdailynews.com/gcdn/authoring/2011/09/11/NMWD/ghows-WL-5c51012a-25d7-4950-a1e4-46f5a84728a0-6ce7f9a5.jpeg" class="d-block w-100 rounded" alt="...">
            </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>

<!-- Start Movies -->
<section class="movies">
    <div class="filter-bar">
        <div class="filter-dropdowns d-flex">
            <select name="genre" class="genre form-select">
                <option value="all genres">Generos</option>
                <option value="action">Action</option>
                <option value="adventure">Adventure</option>
                <option value="animal">Animal</option>
                <option value="animation">Animation</option>
                <option value="biography">Biography</option>
            </select>

            <select name="year" class="year form-select">
                <option value="all years">Años</option>
                <option value="2022">2022</option>
                <option value="2020-2021">2020-2021</option>
                <option value="2010-2019">2010-2019</option>
                <option value="2000-2009">2000-2009</option>
                <option value="1980-1999">1980-1999</option>
            </select>
        </div>
        <div class="filter-radios">
            <input type="radio" name="grade" id="featured" checked>
            <label for="featured">Clásicos</label>
            <input type="radio" name="grade" id="popular">
            <label for="popular">Popular</label>
            <input type="radio" name="grade" id="newest">
            <label for="newest">Nuevo</label>
            <div class="checked-radio-bg"></div>
        </div>
    </div>

    <div class="movies-grid">
        <a href="#_" class="movie-card">
            <div class="card-head">
                <img src="https://cloudfront-eu-central-1.images.arcpublishing.com/prisa/VYUC2C5T2RIY7BEX3GCNF7F45I.jpg" alt="" class="card-img">
                <div class="card-overlay">
                    <a href="#" class="bookmark">
                        <i class="bi bi-journal-text px-1"></i>
                    </a>
                    <div class="rating">
                        <i class="bi bi-star-half me-1"></i>
                        <span>6.7</span>
                    </div>
                    <div class="play">
                        <i class="bi bi-play-circle"></i>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <h3 class="card-title">Venom</h3>
                <div class="card-info">
                <span class="genre">Action/Adventure</span>
                <span class="year">2018</span>
                </div>
            </div>
        </a>

        <a href="#_" class="movie-card">
            <div class="card-head">
                <img src="https://cloudfront-eu-central-1.images.arcpublishing.com/prisa/VYUC2C5T2RIY7BEX3GCNF7F45I.jpg" alt="" class="card-img">
                <div class="card-overlay">
                    <a href="#" class="bookmark">
                        <i class="bi bi-journal-text px-1"></i>
                    </a>
                <div class="rating">
                    <i class="bi bi-star-half me-1"></i>
                    <span>8.9</span>
                </div>
                <div class="play">
                    <i class="bi bi-play-circle"></i>
                </div>
                </div>
            </div>
            <div class="card-body">
                <h3 class="card-title">Lord Of The Rings: Return Of The King</h3>
                <div class="card-info">
                <span class="genre">Fantasy/Adventure</span>
                <span class="year">2003</span>
                </div>
            </div>
        </a>

        <a href="#_" class="movie-card">
            <div class="card-head">
                <img src="https://cloudfront-eu-central-1.images.arcpublishing.com/prisa/VYUC2C5T2RIY7BEX3GCNF7F45I.jpg" alt="" class="card-img">
                <div class="card-overlay">
                    <a href="#" class="bookmark">
                        <i class="bi bi-journal-text px-1"></i>
                    </a>
                <div class="rating">
                    <i class="bi bi-star-half me-1"></i>
                    <span>8.6</span>
                </div>
                <div class="play">
                    <i class="bi bi-play-circle"></i>
                </div>
                </div>
            </div>
            <div class="card-body">
                <h3 class="card-title">Saving Private Ryan</h3>
                <div class="card-info">
                <span class="genre">War/Action</span>
                <span class="year">1998</span>
                </div>
            </div>
        </a>

        <a href="#_" class="movie-card">
            <div class="card-head">
                <img src="https://cloudfront-eu-central-1.images.arcpublishing.com/prisa/VYUC2C5T2RIY7BEX3GCNF7F45I.jpg" alt="" class="card-img">
                <div class="card-overlay">
                    <a href="#" class="bookmark">
                        <i class="bi bi-journal-text px-1"></i>
                    </a>
                    <div class="rating">
                        <i class="bi bi-star-half me-1"></i>
                        <span>8.6</span>
                    </div>
                    <div class="play">
                        <i class="bi bi-play-circle"></i>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <h3 class="card-title">Interstellar</h3>
                <div class="card-info">
                <span class="genre">Sci-fi/Adventure</span>
                <span class="year">2014</span>
                </div>
            </div>
        </a>

        <a href="#_" class="movie-card">
            <div class="card-head">
                <img src="https://cloudfront-eu-central-1.images.arcpublishing.com/prisa/VYUC2C5T2RIY7BEX3GCNF7F45I.jpg" alt="" class="card-img">
                <div class="card-overlay">
                    <a href="#" class="bookmark">
                        <i class="bi bi-journal-text px-1"></i>
                    </a>
                    <div class="rating">
                        <i class="bi bi-star-half me-1"></i>
                        <span>8.5</span>
                    </div>
                    <div class="play">
                        <i class="bi bi-play-circle"></i>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <h3 class="card-title">Gladiator</h3>
                <div class="card-info">
                <span class="genre">Action/Adventure</span>
                <span class="year">2000</span>
                </div>
            </div>
        </a>

        <a href="#_" class="movie-card">
            <div class="card-head">
                <img src="https://cloudfront-eu-central-1.images.arcpublishing.com/prisa/VYUC2C5T2RIY7BEX3GCNF7F45I.jpg" alt="" class="card-img">
                <div class="card-overlay">
                    <a href="#" class="bookmark">
                        <i class="bi bi-journal-text px-1"></i>
                    </a>
                    <div class="rating">
                        <i class="bi bi-star-half me-1"></i>
                        <span>8.4</span>
                    </div>
                    <div class="play">
                        <i class="bi bi-play-circle"></i>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <h3 class="card-title">Avengers: Endgame</h3>
                <div class="card-info">
                    <span class="genre">Action/Sci-fi</span>
                    <span class="year">2019</span>
                </div>
            </div>
        </a>

        <a href="#_" class="movie-card">
            <div class="card-head">
                <img src="https://cloudfront-eu-central-1.images.arcpublishing.com/prisa/VYUC2C5T2RIY7BEX3GCNF7F45I.jpg" alt="" class="card-img">
                    <div class="card-overlay">
                        <a href="#" class="bookmark">
                            <i class="bi bi-journal-text px-1"></i>
                        </a>
                    <div class="rating">
                        <i class="bi bi-star-half me-1"></i>
                        <span>6.8</span>
                    </div>
                    <div class="play">
                        <i class="bi bi-play-circle"></i>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <h3 class="card-title">Captain Marvel</h3>
                <div class="card-info">
                    <span class="genre">Action/Sci-fi</span>
                    <span class="year">2019</span>
                </div>
            </div>
        </a>
    </div>
    <button class="load-more">Mostrar Más</button>
</section>
<!-- End Movies -->

<!-- Start Category Movie -->
<section class="category" id="category">
    <h2 class="section-heading">Categoría</h2>
    <div class="category-grid">
        <div class="category-card">
            <img src="assets/img/action.jpg" alt="" class="card-img">
            <div class="name">Acción</div>
            <div class="total">100</div>
        </div>
        <div class="category-card">
            <img src="assets/img/comedy.jpg" alt="" class="card-img">
            <div class="name">Comedia</div>
            <div class="total">50</div>
        </div>
        <div class="category-card">
            <img src="assets/img/thriller.jpg" alt="" class="card-img">
            <div class="name">Thriller</div>
            <div class="total">20</div>
        </div>
        <div class="category-card">
            <img src="assets/img/horror.jpg" alt="" class="card-img">
            <div class="name">Horror</div>
            <div class="total">80</div>
        </div>
        <div class="category-card">
            <img src="assets/img/adventure.jpg" alt="" class="card-img">
            <div class="name">Aventura</div>
            <div class="total">100</div>
        </div>
        <div class="category-card">
            <img src="assets/img/animated.jpg" alt="" class="card-img">
            <div class="name">Animación</div>
            <div class="total">50</div>
        </div>
        <div class="category-card">
            <img src="assets/img/crime.jpg" alt="" class="card-img">
            <div class="name">Crimen</div>
            <div class="total">20</div>
        </div>
        <div class="category-card">
            <img src="assets/img/sci-fi.jpg" alt="" class="card-img">
            <div class="name">SCI-FI</div>
            <div class="total">80</div>
        </div>
    </div>
</section>
<!-- End Category Movie -->