<div class="my-5 pt-5">
    <br>
    <div class="d-flex align-items-center filter-bar mt-2">
        <div class="filter-dropdowns d-flex">
            <h3 class="m-0 text-off-white">
                <i class="bi bi-database-fill fs-3 text-off-white me-3"></i>Administradores
            </h3>
        </div>
    </div>
    <div class="d-flex align-items-center justify-content-between pb-3">
        <a [routerLink]="'/registrar-administrador'" class="btn btn-success rounded-pill">
            <i class="bi bi-plus me-1 fs-5"></i> Registro Nuevo
        </a>
    </div>

    <table id="datatable-spanish" class="table table-striped table-bordered py-2">
        <thead class="table-primary">
            <tr>
                <th class="text-center">Id</th>
                <th class="text-center">Nombre</th>
                <th class="text-center">Apellido</th>
                <th class="text-center">Email</th>
                <th class="text-center">Dirección</th>
                <th class="text-center">Pais</th>
                <th class="text-center">Opciones</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let a of objAdmin">
                <td class="text-center">{{ a.idAdmin }}</td>
                <td class="text-center">{{ a.nombre }}</td>
                <td class="text-center">{{ a.apellido }}</td>
                <td class="text-center">{{ a.correoElectronico }}</td>
                <td class="text-center">{{ a.direccion }}</td>
                <td class="text-center">{{ a.administradorPais.nomPais }}</td>
                <td class="text-center">
                    <button (click)= "actualizarAdministrador(a.idAdmin)" class="btn btn-sm btn-primary me-2 rounded-circle" title="Editar">
                        <i class="bi bi-pencil-fill"></i>
                    </button>
                    <button (click)= "detalleAdministrador(a.idAdmin)" class="btn btn-sm btn-warning me-2 rounded-circle" title="Detalle">
                        <i class="bi bi-stack"></i>
                    </button>
                    <button  (click)= "eliminarAdministrador(a.idAdmin)" class="btn btn-sm btn-danger me-2 rounded-circle" title="Eliminar">
                        <i class="bi bi-archive-fill"></i>
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
