<div class="my-5 pt-3">
    <br>
    <div class="d-flex align-items-center">
        <i class="bi bi-table fs-5 me-2"></i>
        <h4 class="m-0">Directores</h4>
    </div>
    <hr>
    <div class="d-flex align-items-center justify-content-between pb-3">
        <a [routerLink]="'/registrar-director'" class="btn btn-success">
            <i class="bi bi-plus-square me-1"></i> Registro Nuevo
        </a>
    </div>

    <table id="datatable-spanish" class="table table-striped table-bordered py-2">
        <thead class="table-primary">
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>F. Nac</th>
                <th>Pais</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let d of objDirector">
                <td>{{ d.idDirector }}</td>
                <td>{{ d.nombre }}</td>
                <td>{{ d.fechaNacimiento }}</td>
                <td>{{ d.directorPais.nomPais }}</td>
                <td class="d-flex align-items-center justify-content-center">
                    <button (click)= "actualizarDirector(d.idDirector)" class="btn btn-sm btn-primary me-2" title="Editar">
                        <i class="bi bi-pencil-square"></i>
                    </button>
                    <button (click)= "detalleDirector(d.idDirector)" class="btn btn-sm btn-warning me-2" title="Detalle">
                        <i class="bi bi-journal-text"></i>
                    </button>
                    <button  (click)= "eliminarDirector(d.idDirector)" class="btn btn-sm btn-danger" title="Eliminar">
                        <i class="bi bi-trash3"></i>
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
