/*-------------------------------------*\
    #variables.css
\*-------------------------------------*/
:root {
    --live-indicator-shadow: hsla(0, 79%, 63%, 0.5);
    --rich-black-fogra-30:   hsl(219, 32%, 10%);
    --rich-black-fogra-29:   hsl(222, 25%, 10%);
    --live-indicator:        hsl(0, 79%, 63%);
    --oxford-blue-50:        hsla(218, 39%, 14%, 0.8);
    --oxford-blue:           hsl(218, 39%, 14%);
    --light-azure:           hsl(214, 84%, 56%);
    --off-white:             hsl(0, 0%, 88%);
    --yellow:                hsl(45, 100%, 54%);
    --white:                 hsl(0, 0%, 100%);
    --azure:                 hsl(211, 100%, 50%);

    --ff-inter: "Inter", sans-serif;

    --section-heading: 40px;
    --fs-lg:           22px;
    --fs-md:           17px;
    --fs-sm:           15px;
    --fs-x-sm:         12px;
    
    --fw-7: 700;
    --fw-6: 600;
    --fw-5: 500;

    --px: 120px;
}

/*-------------------------------------*\
    .navbar.css
\*-------------------------------------*/
.bg-nav { 
    background: var(--rich-black-fogra-29); 
}

#offcanvasDarkNavbar {
    background: var(--rich-black-fogra-30);
    color: #fff;
    box-shadow: -5px 0px 5px rgba(0, 0, 0, 0.2);
    width: 250px;
}

a {
    text-decoration: none;
    color: var(--off-white);
    font-family: "Inter", sans-serif;
}

.navbar {
    height: 75px;
}

.navbar-link {
    font-size: var(--fs-sm);
    font-weight: bold;
    padding: 10px 0px 10px 0px;
}
.navbar-link:hover { 
    color: #f44336; 
}

.eagle-color {
    color: #f44336;
}

.nav-admin {
    padding: 0.5rem;
}

.nav-admin:hover {
    background-color: #062636;
    transition-duration: 75ms;
    border-radius: 0.5rem;
}

.section-heading {
    font-size: var(--section-heading);
    font-weight: var(--fw-5);
    margin-bottom: 60px;
}

/*-------------------------------------*\
    #MOIVES SECTION
\*-------------------------------------*/

.movies { 
    margin-bottom: 60px; 
    margin-top: 60px;
}

.filter-bar {
    display:         flex;
    justify-content: space-between;
    align-items:     center;
    background: var(--oxford-blue);
    padding: 20px 30px;
    border-radius: 20px;
    margin-bottom: 30px;
}

.filter-bar select {
    font-size: var(--fs-sm);
    margin-right: 15px;
    cursor: pointer;
}

.filter-bar option { 
    color: var(--white);
    background: var(--oxford-blue); 
}

.filter-radios {
    position: relative;
    background: var(--rich-black-fogra-29);
    padding: 10px;
    border-radius: 15px;
}

.filter-radios input { 
    display: none; 
}

.filter-radios label {
    color: var(--white);
    position: relative;
    margin: 0 10px;
    font-size: var(--fs-sm);
    user-select: none;
    cursor: pointer;
    z-index: 10;
}

.filter-radios input:checked + label,
.filter-radios label:hover { 
    color: var(--light-azure); 
}

input ~ .checked-radio-bg {
    --width: 85px;
    --left:   5px;

    background: var(--oxford-blue);
    position: absolute;
    top:    5px;
    left:   var(--left);
    bottom: 5px;
    width: var(--width);
    border-radius: 10px;
}

#popular:checked ~ .checked-radio-bg {
    --width: 73px;
    --left:  90px;
}

#newest:checked ~ .checked-radio-bg {
    --width:  81px;
    --left:  163px;
}

.movies-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
    gap: 30px;
    margin-bottom: 60px;
}

.movie-card {
    --scale: 0.8;
    cursor: pointer;
}

.movie-card .card-head {
    position: relative;
    height: 250px;
    border-radius: 15px;
    margin-bottom: 15px;
    overflow: hidden;
}


.movie-card .card-head img { 
    height: 250px;
}

.movie-card:hover .card-img { 
    transform: scale(1.1); 
}

.movie-card .card-overlay {
    position: absolute;
    inset: 0;
    opacity: 0;
    backdrop-filter: blur(5px);
    transition: opacity 0.3s ease;
}

.movie-card:hover .card-overlay { 
    opacity: 1; 
}

.movie-card .bookmark,
.movie-card .rating {
    position: absolute;
    top: 15px;
    padding: 6px;
    border-radius: 10px;
    color: var(--light-azure);
    transform: scale(var(--scale));
}

.movie-card .bookmark {
    background: var(--oxford-blue);
    left: 15px;
}

.movie-card .bookmark:hover { 
    color: var(--yellow); 
}

.movie-card .rating {
    display:     flex;
    align-items: center;
    right: 15px;
    background: var(--oxford-blue-50);
}

.movie-card .rating span {
    color: var(--white);
    font-size: 13px;
    font-weight: var(--fw-5);
    margin-left: 5px;
}

.movie-card i {
    font-size: 16px;
    display: block;
    --ionicon-stroke-width: 50px;
}

.movie-card .play {
    position: absolute;
    top:  50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(var(--scale));
}

.movie-card .play i {
    color: var(--white);
    font-size: 60px;
}

.movie-card:hover :is(.bookmark, .rating, .play) { --scale: 1; }

.card-body {
    color: #000;
}

.movie-card .card-title {
    text-align: center;
    font-size: var(--fs-md);
    font-weight: var(--fw-5);
    margin-bottom: 5px;
}

.movie-card:hover .card-title { color: var(--light-azure); }

.movie-card .card-info {
    display: flex;
    align-content: center;
    justify-content: center;
    font-size: var(--fs-x-sm);
    font-weight: var(--fw-5);
}

.movie-card .genre { margin-right: 8px; }

.load-more {
    background: var(--oxford-blue);
    display: block;
    padding: 20px 50px;
    margin: auto;
    font-size: var(--fs-sm);
    font-weight: var(--fw-5);
    border-radius: 15px;
    color: var(--white);
}
.load-more:hover { background: var(--light-azure); }


/*-------------------------------------*\
    #CATEGORY SECTION
\*-------------------------------------*/

.category { margin-bottom: 60px; }

.category-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
}

.category-card {
    position: relative;
    height: 150px;
    border-radius: 20px;
    overflow: hidden;
    cursor: pointer;
}

.category-card img{
    height: 150px;
}

.category-card::after {
    content: '';
    position: absolute;
    inset: 0;
    background: linear-gradient(180deg, transparent 20%, #000a);
}

.category-card:hover .card-img { 
    transform: scale(1.1); 
}

.category-card .name,
.category-card .total {
    position: absolute;
    bottom: 20px;
    color: var(--white);
    z-index: 20;
}

.category-card .name {
    left: 20px;
    font-size: 20px;
}

.category-card .total {
    right: 20px;
    font-size: 18px;
    background: var(--oxford-blue-50);
    padding: 5px 8px;
    border-radius: 8px;
}

.category-card:hover .name { color: var(--light-azure); }