<div class="container h-100 pt-5 my-5">
    <br>
    <div class="row d-flex justify-content-center align-items-center h-100 mt-2">
        <div class="col-lg-12 col-xl-12">
            <div class="card text-black" style="border-radius: 25px;">
                <div class="card-body p-md-5 card-custom">
                    <h4 class="text-center">Actualizar Película: <span>{{objPeli.titulo}}</span></h4>
                    <form (ngSubmit)="handleSubmit()" class="py-3 row" method="post" enctype="multipart/form-data">
                        <div class="col-md-2 mb-3">
                            <label for="id" class="form-label">Id:</label>
                            <input id="idPelicula" [(ngModel)]="objPeli.idPelicula" name="idPelicula" type="text" class="form-control" disabled>
                        </div>
                        <div class="col-md-8 mb-3">
                            <label class="form-label">Título de la película:</label>
                            <input [(ngModel)]="objPeli.titulo" id="titulo" name="titulo" type="text" placeholder="Escribe el nombre de la película" class="form-control" required>
                        </div>
                        <div class="col-md-2 mb-3">
                            <label class="form-label">Duración:</label>
                            <input [(ngModel)]="objPeli.duracion" name="duracion" id="duracion" placeholder="Ej. 120" type="number" class="form-control" required>
                        </div>
                        <div class="col-md-4 mb-3">
                            <label class="form-label">Descripcion:</label>
                            <textarea [(ngModel)]="objPeli.descripcion" name="descripcion" id="descripcion" maxlength="499" placeholder="Escribe una breve descripción de la película" rows="3" type="text" class="form-control" required></textarea>
                        </div>
                        <div class="col-md-2 mb-3">
                            <label class="form-label">Año de lanzamiento:</label>
                            <input [(ngModel)]="objPeli.anio" name="anio" id="anio" type="number" placeholder="Ej. 2023" class="form-control" required>
                        </div>
                        <div class="col-md-2 mb-3">
                            <label class="form-label">Productora:</label>
                            <input [(ngModel)]="objPeli.productora" name="productora" id="productora" placeholder="Ej. Warner Bros"  type="text" class="form-control" required>
                        </div>
                        <div class="col-md-2 mb-3">
                            <label class="form-label">Idioma:</label>
                            <input [(ngModel)]="objPeli.idioma" name="idioma" id="idioma" placeholder="Ej. Español Latino"  type="text" class="form-control" required>
                        </div>
                        <div class="col-md-2 mb-3">
                            <label for="servidor" class="form-label">Servidor:</label>
                            <input id="servidor" [(ngModel)]="objPeli.servidor" name="servidor" type="text" class="form-control" required>
                        </div>
                        <div class="col-md-6 mb-3">
                            <label class="form-label">Trailer: URL Youtube</label>
                            <input [(ngModel)]="objPeli.trailer" name="trailer" id="trailer" placeholder="https://www.example.com/trailer" type="text" class="form-control" required>
                        </div>
                        <div class="col-md-6 mb-3">
                            <label class="form-label">Vídeo: URL Película <span class="badge text-bg-danger">Servidor: {{ objPeli.servidor }}</span></label>
                            <input [(ngModel)]="objPeli.video" name="video" id="video" placeholder="https://www.example.com/video" type="text" class="form-control" required>
                        </div>
                        <div class="col-md-3 mb-3">
                            <label for="pais">País:</label>
                            <select class="form-select" id="pais" [(ngModel)]="objPeli.peliculaPais" name="pais" required>
                                <option disabled value="">[Seleccione un país]</option>
                                <option *ngFor="let pais of objPais" [ngValue]="pais">{{ pais.nomPais }}</option>
                            </select>                          
                        </div>
                        <div class="col-md-5 mb-3">
                            <label for="pais">Género/s:</label>
                            <select class="form-select" id="genero" [(ngModel)]="objPeli.peliculaGenero" name="genero" required>
                                <option disabled value="">[Seleccione género/s]</option>
                                <option *ngFor="let gen of objGenero" [ngValue]="gen">{{ gen.nomGen }}</option>
                            </select>                          
                        </div>
                        <div class="col-md-4 mb-3">
                            <label for="pais">Director/es:</label>
                            <select class="form-select" id="director" [(ngModel)]="objPeli.peliculaDirector" name="director" required>
                                <option disabled value="">[Seleccione director/es]</option>
                                <option *ngFor="let dir of objDirector" [ngValue]="dir">{{ dir.nombre }}</option>
                            </select>                          
                        </div>
                        <div class="col-md-5 mb-3">
                            <label class="form-label" for="pais">Actor/es:</label>
                            <select class="form-select" id="actor" [(ngModel)]="objPeli.peliculaActor" name="actor" required>
                                <option disabled value="">[Seleccione actor/es]</option>
                                <option *ngFor="let act of objActor" [ngValue]="act">{{ act.nomActor }}</option>
                            </select>                          
                        </div>
                        <div class="col-md-5 mb-3">
                            <label class="form-label" for="file">Subir Portada: <span class="badge text-bg-danger">Tamaño máximo permitido: 1 MB</span></label>
                            <div class="input-group">
                                <input type="file" id="file" name="file" (change)="handleFileChange($event)" class="form-control border-secondary" required>
                            </div>
                        </div>
                        <div class="col-md-2 mb-3 d-grid">
                            <label for="imagen" class="form-label">Portada de la película:</label>
                            <img [src]="myFileImgs + objPeli.imagen" [title]="objPeli.titulo" alt="Movie Cover" style="height: 7em;">            
                        </div>
                        <div class="col-md-12 d-flex justify-content-center pt-4">
                            <button type="submit" class="btn btn-primary me-2">Guardar Cambios</button>
                            <a [routerLink]="'/peliculas'" class="btn btn-danger">Regresar</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>



