<div class="row justify-content-center align-items-center min-vh-100 mt-5">
    <div class="shapes-container">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 800 600">
            <circle class="circle" cx="150" cy="50" r="16" fill="blue" />
            <polygon class="polygon" points="600,150 700,300 500,300" fill="green" />
            <rect class="rect" x="150" y="250" width="70" height="60" fill="orange" />
            <rect class="spinner-square" x="700" y="10" width="60" height="60" rx="15" ry="15" />
        </svg>
    </div>
    <div class="col-md-4">
        <div class="text-center mb-4">
            <img src="assets/img/lg2.svg" alt="logo" class="logo-login mb-2">
            <span class="title-login"><span>Eagle</span>Flicks</span>
        </div>
        <p class="subtitle-login text-center py-3">Las mejores películas online.</p>
        <form class="pass-form px-3 shadow-sm" #form="ngForm" (ngSubmit)="login(form)">
            <div class="mb-3">
                <input type="text" id="username" name="username" class="form-control rounded-pill" [(ngModel)]="creds.username" placeholder="Usuario" required>
            </div>
            <div class="input-group mb-3 password-box">
                <input type="password" name="password" id="password" class="form-control rounded-start-pill" [(ngModel)]="creds.password" placeholder="Contraseña" aria-describedby="basic-addon1">
                <span class="input-group-text rounded-end-pill" id="basic-addon1">
                    <i id="togglePassword" class="fas fa-eye-slash" style="cursor: pointer;"></i>
                </span>
            </div>                    
            <div class="my-3 text-end">
                <a class="fs-6 fw-bold" style="color: #f44336;">¿Olvidaste tu contraseña?</a>
            </div>
            <div class="d-grid">
                <button class="btn btn-primary rounded-pill" type="submit">Ingresar</button>
            </div>
        </form>
    </div>
</div>