<div class="container h-100 pt-5 my-5">
    <br>
    <div class="row d-flex justify-content-center align-items-center h-100 mt-2">
        <div class="col-lg-12 col-xl-7">
            <div class="card text-black" style="border-radius: 25px;">
                <div class="card-body p-md-5 card-custom">
                    <h4 class="text-center">Registrar Director</h4>
                    <hr>
                    <form (ngSubmit)="onSubmit()" class="py-3 row">
                        <div class="col-md-3 mb-3">
                            <label for="id" class="form-label">Id:</label>
                            <input id="id" [(ngModel)]="objDirector.idDirector" name="id" type="text" class="form-control" disabled>
                        </div>
                        <div class="col-md-9 mb-3">
                            <label class="form-label">Nombre:</label>
                            <input id="nombre" [(ngModel)]="objDirector.nombre" name="nombre" placeholder="Ej. Lorena Muller, Belt Steve" type="text" class="form-control" required>
                        </div>
                        <div class="col-md-6 mb-3">
                            <label class="form-label">Fecha Nacimiento:</label>
                            <input id="fecha" [(ngModel)]="objDirector.fechaNacimiento" name="fecha" type="date" class="form-control" required>
                        </div>
                        <div class="col-md-6 mb-3">
                            <label class="form-label">Nacionalidad:</label>
                            <select class="form-select" id="pais" [(ngModel)]="objDirector.directorPais" name="pais" required>
                                <option disabled value="">[Seleccione un pais]</option>
                                <option *ngFor="let pais of objPaises" [ngValue]="pais">{{ pais.nomPais }}</option>
                            </select>                          
                        </div>
                        <div class="col-md-12 d-flex justify-content-center pt-5">
                            <button type="submit" class="btn btn-primary me-2">Guardar Cambios</button>
                            <a [routerLink]="'/directores'" class="btn btn-danger">Regresar</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


